<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 声明student类
         注入：就是赋值
         简单类型：spring中规定java的基本数据类型和spring都是简单类型
         di给属性赋值
         1. set注入（设值注入）,spring调用类的方法，可以在set方法中完成属性的赋值
            1）简单类型的注入
            <bean id="xxx" class="yyy">
                <property name="属性名字" value="属性值"/>
            </bean>
         -->
    <bean id="myStudent" class="com.fzg.ba01.Student">
        <property name="name" value="李四"/>
        <property name="age" value="22"/>
        <property name="email" value="lisi@email.com"/>
    </bean>

    <bean id="myDate" class="java.util.Date">
        <property name="time" value = "213500123"/>
    </bean>
</beans>